$accent: #00BBD4;
$primary: #EDECEC;
$dark_primary: #757575;
$text: #B2B2B2;
$text_dark: #212121;

body {
  width: 100%;
  background-color: $primary;
  overflow: hidden;
}

.form-control {
  border: 0;
  border: {
    radius: 0;
    bottom: 1px solid #ccc;
  };
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $text;
}

.navbar {
  background-color: $accent;
  margin-bottom: 0;
  border-radius: 0;
  a {
    color: white;
  }
  li a{
    font:{
      size: 1.5em;
      weight: 600;
    };

    &:hover{
      background-color: $accent;
    }
  }
}


.nav-left {
  border-radius: 0;
  width: 15%;
  background-color: white;
  position: absolute;
  height: 100%;
  float: left;
  display: none;

  li a{
    border-radius: 0;
    color: $text_dark;
    font-size: 1.2em;

    i{
      color: $dark_primary;
    }
  }

  .fa {
    margin-right: 15%;
    font-size: 1.2em;
  }
}

.show {
  float: right;
  width: 85%;
}

.right-menu {

  .panel {
    margin: 2%;

    .panel-heading {
      display: flex;
      flex:{
        direction: row;
        wrap: nowrap;
      }
      justify-content: space-between;
      background-color: white;
      border-bottom: 0;

      h4:last-child {
        color: $accent;
        i {
          padding-right: 0.5em;
        }
      }
    }
    .panel-body {
      width: 30%;

      .form-group:nth-child(2) {
        select{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
    .panel-footer {
      background-color: #E8E8E8;

      button {
        background-color: $accent;
        color: white;
        font: {
          weight: 600;
          size: 1.1em;
        }
        margin-left: 3%;

        .fa {
          font-size: 1.3em;
        }
      }
    }
  }
}



